*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    text-align: center;
}


.menu_container{
    width: 100%;
    padding: 15px;
    background-color: #55eb;

}
.nav_container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo{
    float: left;
    padding: 15px;
}

.list_container{
    justify-content: space-between;
    display: flex;
    list-style: none;
    gap: 20px;

}

.list_item{
    padding: 15px;
}

.list_item a {
    text-decoration: none;
    color: #f1f1f1;
}

.list_item a:hover{
    color: rgba(46, 46, 241, 0.733);
}

.sandwish_menu {
    color: #f1f1f1;
    display: none;
    cursor: pointer;
    padding: 15px;
}

.manerofooter {
    bottom: 0;
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #55eb;
    color: #f1f1f1;
}

.footer_menu{
    margin: 0 auto;
    border-spacing: 10px;
}


.footer_link {
    cursor: pointer;
    text-decoration: none;
    color: #f1f1f1;
    display: inline-block;
    transition: color 0.3s ease;
}

.footer_link:hover {
    color: #55eb;
}

.menu_item td {
    padding: 5px 0;
}