*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    text-align: center;
}


.menu_container{
    width: 100%;
    padding: 15px;
    background-color: rgb(252, 249, 63);

}
.nav_container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

}

.logo{

    float: left;
    padding: 15px;
}

img {
    width: 50px;
    padding-bottom: 20px;
}
.list_container{
    justify-content: space-between;
    display: flex;
    list-style: none;
    gap: 20px;

}

.list_item{
    padding: 15px;
}

.list_item a {
    text-decoration: none;
    color: #030303;
}

.list_item a:hover{
    cursor: pointer;
    color: rgba(46, 46, 241, 0.733);
}

.sandwish_menu {
    display: none;
}

@media (max-width: 768px) {
    .list_container {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #55eb;
    }

    .list_container.active {
        display: flex;
    }

    .sandwish_menu {
        display: block;
    }

    .nav_container{
        flex-direction: column;
        align-items: self-start;
    }

    #logotext {
        font-size: 50px;
    }


}